<div class="room-results-wrapper">
  <div class="room-page-container mt-4 mt-md-5 " >
      {{> _calendarSearch }}
    
    <div class="results-container">
      {{#if roomResults}}
        {{#each roomResults}}
        <div class="card-wrapper mb-4">
          <div class="card shadow">
            <div class="results-item-container card-body">
              <div class="results-image-section">
                <div class="r-image-container">
                  {{#if this.offerName}}
                    <div class="r-i-discount-banner">
                      <p>{{this.offerName}} included!</p>
                    </div>
                  {{/if}}
                  {{#if this.thumbNailLarge}}
                    <img src="{{this.thumbNailLarge.photoUrl}}" alt="{{this.thumbNailLarge.alt}}">
                  {{/if}}
                  {{!-- TODO NODE FETCH OR AXIOS IS IMG ENDPOINT IS UNAVAILABLE --}}
                  {{#unless this.thumbNailLarge}}
                    <div class="r-image-placeholder">
                      <img src="/img/placeholder/hotel_california_logo.png" alt="room thumbnail">
                    </div>
                  {{/unless}}
                </div>
                <div class="r-desc-container">
                  <div class="r-inner-desc">
                    <h4>{{this.roomType}}</h4>
                    <p>{{this.description}}</p>
                    {{!-- <p>Room ID {{this.roomID}}</p> --}}
                    {{!-- <p>Offer ID {{this.offerID}}</p> --}}
                    {{!-- TODO add filter for guests --}}
                    <a href="/roomdetails/{{this.roomID}}/offers/{{this.offerID}}?checkin={{../checkin}}&checkout={{../checkout}}&guests=1&rooms=1&price={{../price}}">Learn more...</a>
                  </div>

                  <div class="r-hr-container">
                    <hr>
                  </div>

                  <div class="r-inner-icons">
                    <div class="r-icons-vl-container">
                      <div class="r-icons-vl"></div>
                    </div>
                    <div class="r-icons-container">
                      <p>Amenities</p>
                      <div class="r-icons-list-container">
                        <div class="r-icon-item">
                          <img src="/img/icons/amenities/bed.svg" alt="bed icon">
                          <p>{{this.bedCount}}</p>
                        </div>
                        {{#if hasBath}}
                          <div class="r-icon-item">
                            <img src="/img/icons/amenities/bath.svg" alt="bath icon">
                          </div>
                        {{/if}}
                        {{#unless hasBath}}
                          <div class="r-icon-item">
                            <img src="/img/icons/amenities/shower.svg" alt="shower icon">
                          </div>
                        {{/unless}}
                          <div class="r-icon-item">
                            <img src="/img/icons/amenities/wifi.svg" alt="wifi icon">
                          </div>
                        {{#if this.baseAmenities}}
                          <div class="r-icon-item hide">
                            <img src="/img/icons/amenities/{{this.baseAmenities.0.icon}}" alt="{{this.baseAmenities.0.icon}} icon">
                          </div>
                        {{/if}}
                        {{#if this.baseAmenities}}
                          <div class="r-icon-item hide">
                            <img src="/img/icons/amenities/{{this.baseAmenities.1.icon}}" alt="{{this.baseAmenities.1.icon}} icon">
                          </div>
                        {{/if}}
                          {{#if this.baseAmenities}}
                          <div class="r-icon-item hide">
                            <img src="/img/icons/amenities/{{this.baseAmenities.2.icon}}" alt="{{this.baseAmenities.2.icon}} icon">
                          </div>
                        {{/if}}
                      </div>
                      <p>{{this.bedCount}} {{this.bedType}}</p>
                    </div>
                  </div>
                  <div class="r-hr-container">
                    <hr>
                  </div>
                </div>
              </div>
              <div class="results-info-section">
                <div class="r-i-price-container">
                  <h3>${{this.averagePricePerNight}} /night</h2>
                  <p>{{this.offerDescription}}</p>
                </div>
                <hr>
                <div class="r-i-amenity-text-list">
                  {{#each this.baseAmenities}}
                    {{#equalOrLT @index 7}}
                      <p>{{this.name}}</p>
                    {{/equalOrLT}}
                  {{/each}}
                </div>
                <a href="checkout?roomdetails={{this.roomID}}&offers={{this.offerID}}&checkin={{../checkin}}&checkout={{../checkout}}&guests=1&rooms=1" class="hrefbutton"><button class="btn btn-primary btn-reserve-style">Reserve now</button></a>
                {{!-- <a href="checkout" class="hrefbutton"><button class="btn btn-primary btn-reserve-style">Reserve now</button></a> --}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      {{/if}}
      {{#unless roomResults}}
        <p>There are no room offers to show. Try adjusting your search criteria for better results.</p>
      {{/unless}}
      
    </div>

  </div>
</div>

