{{#unless disable}}
<div class="pa-left-container">
    {{#unless readOnly}}
    <div class="timeout-container" id="reservationHeldLink">
        <input type="hidden" id="serverHeldSecondsInput" value="{{serverHeldSeconds}}">
        <img src="/img/icons/general/timer.svg" alt="timer icon" class="pr-4"><p>&nbsp;Room(s) held for&nbsp;</p><span id="roomheldDisplaySeconds">0:00</span>
    </div>
    {{/unless}}
    <div class="card pa-side-card">
        <div class="pa-card-body">
            <h3 class="pa-h3-style">YOUR SELECTION</h3>
            <hr class="pa-hr h3"> 
            <div class="room-summary-section pa-left-right-container">
                <div class="room-image-container">
                     {{#if bookingData.thumbnailSmall}}
                        <img class="img-fluid thumbnail" src="{{bookingData.thumbnailSmall}}.{{bookingData.fileType}}" alt="room thumbnail">
                     {{/if }}
                     {{#unless bookingData.thumbnailSmall}}
                        <div class="payment-sidebar-placeholder">
                            <img class="img-fluid thumbnail" src="/img/icons/general/room.svg" alt="room thumbnail">
                        </div>
                     {{/unless}}
                </div>
                <div class="room-text-container">
                    <div class="room-text-roomtype-header-container">
                        <p class="room-text-roomtype-headerstyle">{{bookingData.roomType}}</p>
                        <div {{#equalOrGT bookingData.offers.length 4 }}class="room-amenities-style-restrict"{{/equalOrGT}}>
                            {{#if bookingData.offers}}
                                {{#each bookingData.offers}}
                                    <p>{{this}}</p>
                                {{/each}}
                            {{/if}}
                            {{#unless bookingData.offers}}
                                <p>Welcome Drinks at the Lobby</p>
                            {{/unless}}
                        </div>
                    </div>
                    <ul {{#equalOrGT bookingData.offers.length 4 }} class="room-amenities-list-restrict"{{/equalOrGT}}>
                    {{!-- TODO ADD ICON --}}
                        <li>{{bookingData.bedCount}} {{bookingData.bedType}}</li>
                        {{#if bookingData.amenities}}
                            {{#each bookingData.amenities}}
                            <li>{{this.count}} {{this.name}}</li>
                            {{/each}}
                        {{/if}}
                    </ul>
                </div>
            </div>
            <hr class="pa-hr h3">
            <div class="pa-left-right-container">
                <h3 class="pa-h3-style">Booking summary</h3>
                {{#unless readOnly}}
                    <div>
                        <div class="row">
                            <p class="col pa-left">Check-out:</p>
                            <p class="col pa-right">{{bookingData.checkOut}}</p>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <p class="col pa-left">Check-in:</p>
                            <p class="col pa-right">{{bookingData.checkIn}}</p>
                        </div>
                    </div>
                {{/unless}}
                <div>
                    <div class="row">
                        <p class="col pa-left">Guests</p>
                        <p id="totalGuestsText" class="col pa-right">{{bookingData.guests}}</p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <p class="col pa-left">Nightly Rate:</p>
                      <p class="col pa-right">$<span id="nightlyText">{{bookingData.rate}}</span></p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <p class="col pa-left">Total Nights</p>
                        <p  class="col pa-right"><span id="totalNightsText">{{bookingData.totalNights}}</span></p>
                    </div>
                </div>
                {{#notEqual bookingData.extraPersonFee 0}}
                    {{#equalOrGT bookingData.extraPersonFee 0}}
                    <div>
                        <div class="row">
                            <p class="col pa-left">Extra Person Fees</p>
                        <p class="col pa-right">$<span id="extraPersonFee">{{bookingData.extraPersonFee}}</span></p>
                        </div>
                    </div>
                    {{/equalOrGT}}
                {{/notEqual}}

                {{#unless readOnly}}
                    {{#if loggedIn}}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Id like to use my loyalty points
                            </label>
                        </div>
                        <div class="loyalty-container displayNone" id="loyalty-container">
                            <div class="loyalty-info-points-box">
                                <p>You have <span>300</span> points to redeem</p>
                            </div>
                            <div class="loyalty-rewards-selection-box">
                                <p>Select your reward*</p>
                                <select id="rewards-dropdown-select" class="form-select" aria-label="Default select example" disabled="true">
                                    <option value="10">$10 off</option>
                                    <option value="20">$20 off</option>
                                    <option value="50">$50 off</option>
                                </select>
                                <p>*Spend $5, earn 1 point. Get $10 off with every 100 points on your next booking!</p>
                                <p>** Up to $200 off per booking</p>
                            </div>
                        </div>
                    {{/if}}
                {{/unless}}
            </div>

            <hr class="pa-hr-light">

            <div class="pa-left-right-container">
                <div>
                    <div class="row">
                        <p id="subTotalTextHeader" class="col pa-left">Subtotal</p>
                        <p id="subTotalText" class="col pa-right">{{#if readOnly}}${{bookingData.subtotal}}{{/if}}</p>
                    </div>
                </div>
                {{!-- Figure out functionality later, but if discounts.length are greater > 0 or put hidden input here --}}
                <div id="loyaltyDiscountTextContainer" class="display-None">
                    <div class="row">
                        <p class="col pa-left">Loyalty reward discount</p>
                        <p id="loyaltyDiscountText" class="col pa-right">-$10</p>
                    </div>
                </div>
                <div id="subTotalTextWithDiscountsCountainter" class="display-None">
                    <div class="row">
                        <p class="col pa-left">Subtotal</p>
                        <p id="subTotalTextWithDiscounts" class="col pa-right"></p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <p class="col pa-left">Taxes & Fees</p>
                        <p id="totalTaxText" class="col pa-right">{{#if readOnly}}${{bookingData.taxes}}{{/if}}</p>
                    </div>
                </div>
            </div>

            <hr class="pa-hr h3">

            <div class="pa-left-right-container">
                <div class="row">
                    <p class="col pa-left">Total Charges</p>
                    <p id="totalChargesText" class="col pa-right">{{#if readOnly}}${{bookingData.totalCharge}}{{/if}}</p>
                </div>
            </div>

            <hr class="pa-hr h3">

            {{#if readOnly}}
            <div class="pa-left-right-container">
                <div>
                    <div class="row">
                        <p class="col pa-left">Charges Paid </p>
                        <p id="paidCharges" class="col pa-right">{{#if readOnly}}${{bookingData.totalPaid}}{{/if}}</p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <p class="col pa-left">Paid with {{bookingData.cardType}}-XXXX{{bookingData.lastFour}}</p>
                        {{!-- <p class="col pa-right">{{#if readOnly}}{{bookingData.totalPaid}}{{/if}}</p> --}}
                    </div>
                </div>
                <div>
                    <div class="row">
                        <p class="col pa-left">Due at check-in</p>
                        <p id="dueCharges" class="col pa-right">{{#if readOnly}}${{bookingData.totalDue}}{{/if}}</p>
                    </div>
                </div>
            </div>

            {{/if}}
            {{#unless readOnly}}
            <div class="pa-left-right-container">
                <div>
                    <div class="row">
                        <p class="col pa-left">Payment Upon Checkin</p>
                        <p id="paymentUponCheckinText" class="col pa-right"></p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <p class="col pa-left">Charges Due Now</p>
                        <p id="chargesDueNowText" class="col pa-right"></p>
                    </div>
                </div>
            </div>
            <hr class="pa-hr-light">   
   
            <div class="pa-left-right-container">
                <div> 
                    <p class="disclaimer-text">You will be charged a 30% reservation deposit fee of <span id="disclaimerChargeText">179.60</span> at the time of booking and will be charged the remaining balance of <span id="disclaimerDueText">$419.06</span> (including tax recovery charges and service fees) at the time of check-in. If you choose to change or cancel this booking please refer to our policy below.</p>
                    <a href="">Policy Description</a>
                </div>
            </div>
            {{/unless}}
        </div>
    </div>
</div>
{{/unless}}