<div class="create-offer-page-container">
    <div class="create-offer-page-wrapper">
        {{> _h1styled headerTitle=headerTitle}}
        {{#if readOnly}}
            <h3>ID: AHDIHASDUIAD8AS9DSA</h3>
            <div class="mt-3">
                <button class="btn btn-primary">EDIT</button>
                <button class="btn btn-danger">DELETE</button>
            </div>
        {{/if}}
        <form>
            <div class="form-wrap">
                <div class="card form-card-create-offer">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required {{#if readOnly}}disabled{{/if}}>
                        </div>
                        
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" required {{#if readOnly}}disabled{{/if}}>
                        </div>
                        
                        <div class="mb-3">
                            <label for="offerType" class="form-label">Offer Type</label>
                            <input type="text" class="form-control" id="offerType" name="offerType" placeholder="Enter offer type" required {{#if readOnly}}disabled{{/if}}>
                        </div>
                        
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="isFeatured" name="isFeatured" {{#if readOnly}}disabled{{/if}}>
                            <label class="form-check-label" for="isFeatured">Is Featured?</label>
                        </div>

                        <section class="section-style">
                            <h5>Calendar Implementation</h5>
                            <div class="mb-3">
                                <label for="dateType" class="form-label">Date Type</label>
                                <select class="form-select" id="dateType" name="dateType" required {{#if readOnly}}disabled{{/if}}>
                                <option value="season">Season</option>
                                <option value="month">Month</option>
                                <option value="dayOfWeek">Day of Week</option>
                                <option value="dayOfMonth">Day of Month</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="dateTypeValue" class="form-label">Date Type Value</label>
                                <input type="number" class="form-control" id="dateTypeValue" name="dateTypeValue" required {{#if readOnly}}disabled{{/if}}>
                            </div>
                            
                            <div class="mb-3">
                                <label for="frequencyType" class="form-label">Frequency Type</label>
                                <select class="form-select" id="frequencyType" name="frequencyType" required {{#if readOnly}}disabled{{/if}}>
                                <option value="once">Once</option>
                                <option value="repeats indefinitely">Repeats Indefinitely</option>
                                <option value="repeats for fixed date period">Repeats for Fixed Date Period</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="frequencyValue" class="form-label">Frequency Value</label>
                                <input type="number" class="form-control" id="frequencyValue" name="frequencyValue" {{#if readOnly}}disabled{{/if}}>
                            </div>
                            
                            <div class="mb-3">
                                <label for="frequencyPeriodStart" class="form-label">Frequency Period Start</label>
                                <input type="date" class="form-control" id="frequencyPeriodStart" name="frequencyPeriodStart" required {{#if readOnly}}disabled{{/if}}>
                            </div>
                            
                            <div class="mb-3">
                                <label for="frequencyPeriodEnd" class="form-label">Frequency Period End (Optional)</label>
                                <input type="date" class="form-control" id="frequencyPeriodEnd" name="frequencyPeriodEnd" {{#if readOnly}}disabled{{/if}}>
                            </div>
                        </section>  


                    </div>
                </div>
                <div class="card form-card-create-offer">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Amenities</label>
                            <div class="amenity-group">
                                {{#if readOnly}}
                                    {{#each amenities}}
                                        <p>{{this}}, </p>
                                    {{/each}}
                                {{/if}}
                                {{#unless readOnly}}
                                    {{#each amenities}}
                                        <div class="form-check amenity-item">
                                            <input class="form-check-input" type="checkbox" name="amenities" value="{{this}}" id="{{this}}">
                                            <label class="form-check-label" for="{{this}}">
                                                {{this}}
                                            </label>
                                        </div>
                                    {{/each}}
                                {{/unless}}
                            </div>
                        </div>

                        <h6>Promotions</h6>
                        <div class="accordion mb-4" id="promoaccordion">
                            {{#each promotion}}
                                <div class="accordion-item">
                                    <div class="accordion-header" id="promoheading{{@index}}">
                                        <h5 class="mb-0">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#promocollapse{{@index}}" aria-expanded="true" aria-controls="promocollapse{{@index}}">
                                                {{#unless ../readOnly}}
                                                    <input name="promos" type="checkbox" class="align-middle" value="{{id}}" style="margin-right: 15px;"> 
                                                {{/unless}}
                                                {{this.name}}
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="promocollapse{{@index}}" class="collapse" aria-labelledby="promoheading{{@index}}" data-parent="#promoaccordion">
                                        <div class="card-body">
                                            ID: {{this.id}}<br>
                                            Type: {{this.type}}<br>
                                            Value: {{this.value}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>


                        {{#if readOnly}}
                            {{#if photoList}}
                                <div>
                                    <p>Photos</p>
                                    {{#each photoList}}
                                        <img src="/img/placeholder/hotel_california_logo.png" alt="smallThumbnail">
                                    {{/each}}
                                </div>
                            {{/if}}
                        {{/if}}

                        {{#unless readOnly}}
                            <div class="form-group">
                                <label for="roomPhotos">Offer Photos</label>
                                <input type="file" class="form-control-file" id="roomPhotos" name="roomPhotos" multiple {{#if readOnly}}disabled{{/if}}>
                                <small class="form-text text-muted">Select multiple photos by holding down the 'Ctrl' or 'Command' key while selecting files.</small>
                            </div>
                        {{/unless}}   



                    </div>

                </div>
            </div>
            {{#unless readOnly}}<button type="submit" class="btn btn-primary">Submit</button> {{/unless}}
        </form>

    </div>
</div>