{{#if selectId}}
    {{#if selectTitle}}
        {{#if selectName}}
            <div class="mb-2">
                <label for="{{selectId}}" class="form-label {{#if readOnly}}no-border{{/if}}">{{selectTitle}} {{#if required}}*{{/if}}</label>
                <select {{#if selectedValue}}value={{selectedValue}}{{/if}} autocomplete=false class="form-select {{#if readOnly}}no-border{{/if}}" name="{{selectName}}" aria-label="{{selectName}}" id="{{selectId}}" {{#if required}}required{{/if}} >
                    <option {{#unless selectedValue}}selected{{/unless}} value="">Select a country</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Afghanistan"}}selected{{/equal}}{{/if}} value="Afghanistan">Afghanistan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Albania"}}selected{{/equal}}{{/if}} value="Albania">Albania</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Algeria"}}selected{{/equal}}{{/if}} value="Algeria">Algeria</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Andorra"}}selected{{/equal}}{{/if}} value="Andorra">Andorra</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Angola"}}selected{{/equal}}{{/if}} value="Angola">Angola</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Antigua and Barbuda"}}selected{{/equal}}{{/if}} value="Antigua and Barbuda">Antigua and Barbuda</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Argentina"}}selected{{/equal}}{{/if}} value="Argentina">Argentina</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Armenia"}}selected{{/equal}}{{/if}} value="Armenia">Armenia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Australia"}}selected{{/equal}}{{/if}} value="Australia">Australia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Austria"}}selected{{/equal}}{{/if}} value="Austria">Austria</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Azerbaijan"}}selected{{/equal}}{{/if}} value="Azerbaijan">Azerbaijan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Bahamas"}}selected{{/equal}}{{/if}} value="Bahamas">Bahamas</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Bahrain"}}selected{{/equal}}{{/if}} value="Bahrain">Bahrain</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Bangladesh"}}selected{{/equal}}{{/if}} value="Bangladesh">Bangladesh</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Barbados"}}selected{{/equal}}{{/if}} value="Barbados">Barbados</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Belarus"}}selected{{/equal}}{{/if}} value="Belarus">Belarus</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Belgium"}}selected{{/equal}}{{/if}} value="Belgium">Belgium</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Belize"}}selected{{/equal}}{{/if}} value="Belize">Belize</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Benin"}}selected{{/equal}}{{/if}} value="Benin">Benin</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Bhutan"}}selected{{/equal}}{{/if}} value="Bhutan">Bhutan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Bolivia"}}selected{{/equal}}{{/if}} value="Bolivia">Bolivia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Bosnia and Herzegovina"}}selected{{/equal}}{{/if}} value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Botswana"}}selected{{/equal}}{{/if}} value="Botswana">Botswana</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Brazil"}}selected{{/equal}}{{/if}} value="Brazil">Brazil</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Brunei"}}selected{{/equal}}{{/if}} value="Brunei">Brunei</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Bulgaria"}}selected{{/equal}}{{/if}} value="Bulgaria">Bulgaria</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Burkina Faso"}}selected{{/equal}}{{/if}} value="Burkina Faso">Burkina Faso</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Burundi"}}selected{{/equal}}{{/if}} value="Burundi">Burundi</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Cabo Verde"}}selected{{/equal}}{{/if}} value="Cabo Verde">Cabo Verde</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Cambodia"}}selected{{/equal}}{{/if}} value="Cambodia">Cambodia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Cameroon"}}selected{{/equal}}{{/if}} value="Cameroon">Cameroon</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Canada"}}selected{{/equal}}{{/if}} value="Canada">Canada</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Central African Republic"}}selected{{/equal}}{{/if}} value="Central African Republic">Central African Republic</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Chad"}}selected{{/equal}}{{/if}} value="Chad">Chad</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Chile"}}selected{{/equal}}{{/if}} value="Chile">Chile</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "China"}}selected{{/equal}}{{/if}} value="China">China</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Colombia"}}selected{{/equal}}{{/if}} value="Colombia">Colombia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Comoros"}}selected{{/equal}}{{/if}} value="Comoros">Comoros</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Congo, Democratic Republic of the"}}selected{{/equal}}{{/if}} value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Congo, Republic of the"}}selected{{/equal}}{{/if}} value="Congo, Republic of the">Congo, Republic of the</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Costa Rica"}}selected{{/equal}}{{/if}} value="Costa Rica">Costa Rica</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Cote d'Ivoire"}}selected{{/equal}}{{/if}} value="Cote d'Ivoire">Cote d'Ivoire</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Croatia"}}selected{{/equal}}{{/if}} value="Croatia">Croatia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Cuba"}}selected{{/equal}}{{/if}} value="Cuba">Cuba</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Cyprus"}}selected{{/equal}}{{/if}} value="Cyprus">Cyprus</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Czech Republic (Czechia)"}}selected{{/equal}}{{/if}} value="Czech Republic (Czechia)">Czech Republic (Czechia)</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Denmark"}}selected{{/equal}}{{/if}} value="Denmark">Denmark</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Djibouti"}}selected{{/equal}}{{/if}} value="Djibouti">Djibouti</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Dominica"}}selected{{/equal}}{{/if}} value="Dominica">Dominica</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Dominican Republic"}}selected{{/equal}}{{/if}} value="Dominican Republic">Dominican Republic</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "East Timor (Timor-Leste)"}}selected{{/equal}}{{/if}} value="East Timor (Timor-Leste)">East Timor (Timor-Leste)</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Ecuador"}}selected{{/equal}}{{/if}} value="Ecuador">Ecuador</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Egypt"}}selected{{/equal}}{{/if}} value="Egypt">Egypt</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "El Salvador"}}selected{{/equal}}{{/if}} value="El Salvador">El Salvador</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Equatorial Guinea"}}selected{{/equal}}{{/if}} value="Equatorial Guinea">Equatorial Guinea</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Eritrea"}}selected{{/equal}}{{/if}} value="Eritrea">Eritrea</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Estonia"}}selected{{/equal}}{{/if}} value="Estonia">Estonia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Eswatini"}}selected{{/equal}}{{/if}} value="Eswatini">Eswatini</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Ethiopia"}}selected{{/equal}}{{/if}} value="Ethiopia">Ethiopia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Fiji"}}selected{{/equal}}{{/if}} value="Fiji">Fiji</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Finland"}}selected{{/equal}}{{/if}} value="Finland">Finland</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "France"}}selected{{/equal}}{{/if}} value="France">France</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Gabon"}}selected{{/equal}}{{/if}} value="Gabon">Gabon</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Gambia"}}selected{{/equal}}{{/if}} value="Gambia">Gambia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Georgia"}}selected{{/equal}}{{/if}} value="Georgia">Georgia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Germany"}}selected{{/equal}}{{/if}} value="Germany">Germany</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Ghana"}}selected{{/equal}}{{/if}} value="Ghana">Ghana</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Greece"}}selected{{/equal}}{{/if}} value="Greece">Greece</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Grenada"}}selected{{/equal}}{{/if}} value="Grenada">Grenada</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Guatemala"}}selected{{/equal}}{{/if}} value="Guatemala">Guatemala</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Guinea"}}selected{{/equal}}{{/if}} value="Guinea">Guinea</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Guinea-Bissau"}}selected{{/equal}}{{/if}} value="Guinea-Bissau">Guinea-Bissau</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Guyana"}}selected{{/equal}}{{/if}} value="Guyana">Guyana</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Haiti"}}selected{{/equal}}{{/if}} value="Haiti">Haiti</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Honduras"}}selected{{/equal}}{{/if}} value="Honduras">Honduras</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Hungary"}}selected{{/equal}}{{/if}} value="Hungary">Hungary</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Iceland"}}selected{{/equal}}{{/if}} value="Iceland">Iceland</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "India"}}selected{{/equal}}{{/if}} value="India">India</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Indonesia"}}selected{{/equal}}{{/if}} value="Indonesia">Indonesia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Iran"}}selected{{/equal}}{{/if}} value="Iran">Iran</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Iraq"}}selected{{/equal}}{{/if}} value="Iraq">Iraq</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Ireland"}}selected{{/equal}}{{/if}} value="Ireland">Ireland</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Israel"}}selected{{/equal}}{{/if}} value="Israel">Israel</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Italy"}}selected{{/equal}}{{/if}} value="Italy">Italy</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Jamaica"}}selected{{/equal}}{{/if}} value="Jamaica">Jamaica</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Japan"}}selected{{/equal}}{{/if}} value="Japan">Japan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Jordan"}}selected{{/equal}}{{/if}} value="Jordan">Jordan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Kazakhstan"}}selected{{/equal}}{{/if}} value="Kazakhstan">Kazakhstan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Kenya"}}selected{{/equal}}{{/if}} value="Kenya">Kenya</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Kiribati"}}selected{{/equal}}{{/if}} value="Kiribati">Kiribati</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Korea, North"}}selected{{/equal}}{{/if}} value="Korea, North">Korea, North</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Korea, South"}}selected{{/equal}}{{/if}} value="Korea, South">Korea, South</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Kosovo"}}selected{{/equal}}{{/if}} value="Kosovo">Kosovo</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Kuwait"}}selected{{/equal}}{{/if}} value="Kuwait">Kuwait</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Kyrgyzstan"}}selected{{/equal}}{{/if}} value="Kyrgyzstan">Kyrgyzstan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Laos"}}selected{{/equal}}{{/if}} value="Laos">Laos</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Latvia"}}selected{{/equal}}{{/if}} value="Latvia">Latvia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Lebanon"}}selected{{/equal}}{{/if}} value="Lebanon">Lebanon</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Lesotho"}}selected{{/equal}}{{/if}} value="Lesotho">Lesotho</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Liberia"}}selected{{/equal}}{{/if}} value="Liberia">Liberia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Libya"}}selected{{/equal}}{{/if}} value="Libya">Libya</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Liechtenstein"}}selected{{/equal}}{{/if}} value="Liechtenstein">Liechtenstein</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Lithuania"}}selected{{/equal}}{{/if}} value="Lithuania">Lithuania</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Luxembourg"}}selected{{/equal}}{{/if}} value="Luxembourg">Luxembourg</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Madagascar"}}selected{{/equal}}{{/if}} value="Madagascar">Madagascar</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Malawi"}}selected{{/equal}}{{/if}} value="Malawi">Malawi</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Malaysia"}}selected{{/equal}}{{/if}} value="Malaysia">Malaysia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Maldives"}}selected{{/equal}}{{/if}} value="Maldives">Maldives</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Mali"}}selected{{/equal}}{{/if}} value="Mali">Mali</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Malta"}}selected{{/equal}}{{/if}} value="Malta">Malta</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Marshall Islands"}}selected{{/equal}}{{/if}} value="Marshall Islands">Marshall Islands</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Mauritania"}}selected{{/equal}}{{/if}} value="Mauritania">Mauritania</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Mauritius"}}selected{{/equal}}{{/if}} value="Mauritius">Mauritius</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Mexico"}}selected{{/equal}}{{/if}} value="Mexico">Mexico</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Micronesia"}}selected{{/equal}}{{/if}} value="Micronesia">Micronesia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Moldova"}}selected{{/equal}}{{/if}} value="Moldova">Moldova</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Monaco"}}selected{{/equal}}{{/if}} value="Monaco">Monaco</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Mongolia"}}selected{{/equal}}{{/if}} value="Mongolia">Mongolia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Montenegro"}}selected{{/equal}}{{/if}} value="Montenegro">Montenegro</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Morocco"}}selected{{/equal}}{{/if}} value="Morocco">Morocco</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Mozambique"}}selected{{/equal}}{{/if}} value="Mozambique">Mozambique</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Myanmar (Burma)"}}selected{{/equal}}{{/if}} value="Myanmar (Burma)">Myanmar (Burma)</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Namibia"}}selected{{/equal}}{{/if}} value="Namibia">Namibia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Nauru"}}selected{{/equal}}{{/if}} value="Nauru">Nauru</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Nepal"}}selected{{/equal}}{{/if}} value="Nepal">Nepal</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Netherlands"}}selected{{/equal}}{{/if}} value="Netherlands">Netherlands</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "New Zealand"}}selected{{/equal}}{{/if}} value="New Zealand">New Zealand</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Nicaragua"}}selected{{/equal}}{{/if}} value="Nicaragua">Nicaragua</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Niger"}}selected{{/equal}}{{/if}} value="Niger">Niger</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Nigeria"}}selected{{/equal}}{{/if}} value="Nigeria">Nigeria</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "North Macedonia (Macedonia)"}}selected{{/equal}}{{/if}} value="North Macedonia (Macedonia)">North Macedonia (Macedonia)</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Norway"}}selected{{/equal}}{{/if}} value="Norway">Norway</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Oman"}}selected{{/equal}}{{/if}} value="Oman">Oman</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Pakistan"}}selected{{/equal}}{{/if}} value="Pakistan">Pakistan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Palau"}}selected{{/equal}}{{/if}} value="Palau">Palau</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Palestine"}}selected{{/equal}}{{/if}} value="Palestine">Palestine</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Panama"}}selected{{/equal}}{{/if}} value="Panama">Panama</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Papua New Guinea"}}selected{{/equal}}{{/if}} value="Papua New Guinea">Papua New Guinea</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Paraguay"}}selected{{/equal}}{{/if}} value="Paraguay">Paraguay</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Peru"}}selected{{/equal}}{{/if}} value="Peru">Peru</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Philippines"}}selected{{/equal}}{{/if}} value="Philippines">Philippines</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Poland"}}selected{{/equal}}{{/if}} value="Poland">Poland</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Portugal"}}selected{{/equal}}{{/if}} value="Portugal">Portugal</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Qatar"}}selected{{/equal}}{{/if}} value="Qatar">Qatar</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Romania"}}selected{{/equal}}{{/if}} value="Romania">Romania</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Russia"}}selected{{/equal}}{{/if}} value="Russia">Russia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Rwanda"}}selected{{/equal}}{{/if}} value="Rwanda">Rwanda</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Saint Kitts and Nevis"}}selected{{/equal}}{{/if}} value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Saint Lucia"}}selected{{/equal}}{{/if}} value="Saint Lucia">Saint Lucia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Saint Vincent and the Grenadines"}}selected{{/equal}}{{/if}} value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Samoa"}}selected{{/equal}}{{/if}} value="Samoa">Samoa</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "San Marino"}}selected{{/equal}}{{/if}} value="San Marino">San Marino</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Sao Tome and Principe"}}selected{{/equal}}{{/if}} value="Sao Tome and Principe">Sao Tome and Principe</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Saudi Arabia"}}selected{{/equal}}{{/if}} value="Saudi Arabia">Saudi Arabia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Senegal"}}selected{{/equal}}{{/if}} value="Senegal">Senegal</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Serbia"}}selected{{/equal}}{{/if}} value="Serbia">Serbia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Seychelles"}}selected{{/equal}}{{/if}} value="Seychelles">Seychelles</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Sierra Leone"}}selected{{/equal}}{{/if}} value="Sierra Leone">Sierra Leone</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Singapore"}}selected{{/equal}}{{/if}} value="Singapore">Singapore</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Slovakia"}}selected{{/equal}}{{/if}} value="Slovakia">Slovakia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Slovenia"}}selected{{/equal}}{{/if}} value="Slovenia">Slovenia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Solomon Islands"}}selected{{/equal}}{{/if}} value="Solomon Islands">Solomon Islands</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Somalia"}}selected{{/equal}}{{/if}} value="Somalia">Somalia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "South Africa"}}selected{{/equal}}{{/if}} value="South Africa">South Africa</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "South Sudan"}}selected{{/equal}}{{/if}} value="South Sudan">South Sudan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Spain"}}selected{{/equal}}{{/if}} value="Spain">Spain</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Sri Lanka"}}selected{{/equal}}{{/if}} value="Sri Lanka">Sri Lanka</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Sudan"}}selected{{/equal}}{{/if}} value="Sudan">Sudan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Suriname"}}selected{{/equal}}{{/if}} value="Suriname">Suriname</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Sweden"}}selected{{/equal}}{{/if}} value="Sweden">Sweden</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Switzerland"}}selected{{/equal}}{{/if}} value="Switzerland">Switzerland</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Syria"}}selected{{/equal}}{{/if}} value="Syria">Syria</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Taiwan"}}selected{{/equal}}{{/if}} value="Taiwan">Taiwan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Tajikistan"}}selected{{/equal}}{{/if}} value="Tajikistan">Tajikistan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Tanzania"}}selected{{/equal}}{{/if}} value="Tanzania">Tanzania</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Thailand"}}selected{{/equal}}{{/if}} value="Thailand">Thailand</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Togo"}}selected{{/equal}}{{/if}} value="Togo">Togo</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Tonga"}}selected{{/equal}}{{/if}} value="Tonga">Tonga</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Trinidad and Tobago"}}selected{{/equal}}{{/if}} value="Trinidad and Tobago">Trinidad and Tobago</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Tunisia"}}selected{{/equal}}{{/if}} value="Tunisia">Tunisia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Turkey"}}selected{{/equal}}{{/if}} value="Turkey">Turkey</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Turkmenistan"}}selected{{/equal}}{{/if}} value="Turkmenistan">Turkmenistan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Tuvalu"}}selected{{/equal}}{{/if}} value="Tuvalu">Tuvalu</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Uganda"}}selected{{/equal}}{{/if}} value="Uganda">Uganda</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Ukraine"}}selected{{/equal}}{{/if}} value="Ukraine">Ukraine</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "United Arab Emirates"}}selected{{/equal}}{{/if}} value="United Arab Emirates">United Arab Emirates</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "United Kingdom"}}selected{{/equal}}{{/if}} value="United Kingdom">United Kingdom</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "United States"}}selected{{/equal}}{{/if}} value="United States">United States</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Uruguay"}}selected{{/equal}}{{/if}} value="Uruguay">Uruguay</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Uzbekistan"}}selected{{/equal}}{{/if}} value="Uzbekistan">Uzbekistan</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Vanuatu"}}selected{{/equal}}{{/if}} value="Vanuatu">Vanuatu</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Vatican City"}}selected{{/equal}}{{/if}} value="Vatican City">Vatican City</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Venezuela"}}selected{{/equal}}{{/if}} value="Venezuela">Venezuela</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Vietnam"}}selected{{/equal}}{{/if}} value="Vietnam">Vietnam</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Yemen"}}selected{{/equal}}{{/if}} value="Yemen">Yemen</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Zambia"}}selected{{/equal}}{{/if}} value="Zambia">Zambia</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Zimbabwe"}}selected{{/equal}}{{/if}} value="Zimbabwe">Zimbabwe</option>
                    <option {{#if selectedValue}}{{#equal selectedValue "Other"}}selected{{/equal}}{{/if}} value="Other">Other</option>
                </select>
                <div class="invalid-feedback">
                    Please select a country
                </div>
            </div>
        {{/if}}
    {{/if}}
{{/if}}
