<p>
    {{desc1}} 
</p>
<p>
    {{desc2}}
</p>
{{!-- <form action="{{#equal type "Employee"}}api/v1/employees/login{{/equal}}" method="post" name="{{type}}Login" id="{{type}}Login"> --}}
<form name="{{type}}Login" id="{{type}}LoginForm">
    <div class="form-group">
        <label for="{{type}}Email">{{type}} Email</label>
        <input type="email" name="email" class="form-control" id="{{type}}Email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="{{type}}Password">Password</label>
        <input type="password" name="password"  class="form-control" id="{{type}}Password" placeholder="Password">
    </div>
    <div class="portal-forgot-pass-div">
        <a href="/forgotpassword">Forgot your password?</a>
    </div>
    {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}
    <button id="{{type}}Submit" type="button" class="btn btn-primary">Submit</button>
</form>