<!-- Guest Rooms Section -->
<div class="container py-5">
    <h1 class="underline"><span>Guest Rooms</span></h1>
     
    {{#if roomTypeData}}
        {{#each roomTypeData}}
            <div class="pt-3">
                <h2 class="underline">{{this._id}}s</h2>
                <div class="row pt-2">
                        {{#if this.items}}
                            {{#each this.items}}
                                <div class="col-md-3 mb-3">
                                    <a href="/roomdetails/{{this._id}}">
                                        <div class="room-image">
                                            <img src="{{../../startURL}}{{this.thumbNail.small.url}}.{{this.thumbNail.small.fileType}}" alt="Executive Suite" class="img-fluid">
                                            <div class="room-description">
                                                {{this.roomType}}<br>{{#equalOrGT this.bedCount 2}}{{this.bedCount}}{{/equalOrGT}} {{this.bedType}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {{/each}}
                        {{/if}}
                </div>
            </div>
        {{/each}}
    {{/if}}

    {{#unless roomTypeData}}
        <p>There are no rooms to display</p>
    {{/unless}}
    

</div>
