<div class="reservation-page-wrapper">
    <div class="reservation-page-container">
        {{> _h1styled headerTitle="Reservations"}}
            <div class="mt-3">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pills-btn active" id="pills-upcoming-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-upcoming" type="button" role="tab" aria-controls="pills-upcoming"
                            aria-selected="true">Upcoming</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pills-btn" id="pills-profile-pastb" data-bs-toggle="pill"
                            data-bs-target="#pills-past" type="button" role="tab" aria-controls="pills-past"
                            aria-selected="false">Past</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-upcoming" role="tabpanel"
                        aria-labelledby="pills-upcoming-tab">
                         <div class="reservations-list-container">
                            {{#if upcoming}}
                            {{#each upcoming}}
                                <div class="reservation-list">
                                    <div>
                                        <img src="{{this.thumbNail}}" alt="{{this.alt}}">
                                    </div>
                                    <div class="px-3">
                                        <h3>{{this.roomType}}</h3>
                                        <p> <strong>Check In: </strong> {{this.checkinDate}}
                                            <strong>Check Out:</strong> {{this.checkoutDate}}
                                            <strong>Guests:</strong> {{this.numberOfGuests}} Adults
                                        </p>
                                        <p><strong>${{this.averagePricePerNight}} CAD</strong></p>
                                        <p><strong>Resevation #</strong> {{this.reservationID}}</p>
                                    </div>
                                    <div>
                                        <a href="/dashboard/guest/reservationinfo/{{this.linkrefID}}">
                                            <button class="btn modify-btn ">Modify Reservatiom</button>
                                        </a>
                                    </div>
                                </div>
                                {{/each}}
                            {{/if}}
                            {{#unless upcoming}}
                                <p>You have no upcoming reservations at this time. Start Booking an offer today!</p>
                            {{/unless}}
                         </div>
                    </div>
                    <div class="tab-pane fade" id="pills-past" role="tabpanel" aria-labelledby="pills-profile-pastb">
                        <div class="reservations-list-container">
                            {{#if past}}
                                {{#each past}}
                                <div class="reservation-list">
                                    <div>
                                        <img src="{{this.thumbNail}}" alt="{{this.alt}}">
                                    </div>
                                    <div class="px-3">
                                        <h3>{{this.roomType}}</h3>
                                        <p> <strong>Check In: </strong> {{this.checkinDate}}
                                            <strong>Check Out:</strong> {{this.checkoutDate}}
                                            <strong>Guests:</strong> {{this.numberOfGuests}} Adults
                                        </p>
                                        <p><strong>${{this.averagePricePerNight}} CAD</strong></p>
                                        <p><strong>Resevation #</strong> {{this.reservationID}}</p>
                                    </div>
                                    <div>
                                        <a href="/dashboard/guest/reservationinfo/{{this.linkrefID}}">
                                            <button class="btn modify-btn ">View Detail</button>
                                        </a>
                                    </div>
                                </div>
                                {{/each}}
                            {{/if}}
                            {{#unless past}}
                                <p>You have no past reservations at this time. Start Booking an offer today!</p>
                            {{/unless}}
                        </div>
                        
                    </div>
                </div>

            </div>
    </div>
</div>
    
