
<div class="page-wrapper-flex">
    <div class="create-acc-page-container">
        <div class={{#if disablePaymentSidebar}}"create-acc-center-container"{{/if}}{{#unless disablePaymentSidebar}}"pa-right-container"{{/unless}}>
            <div {{#if disablePaymentSidebar}}class="createAccCenter"{{/if}}>
                {{> _h1styled headerTitle="Reservation"}}
                {{#if bookingData}}
                <div class="subheader-container">
                    <h2>Reservation#{{bookingData.reservationID}}</h2>
                </div>
                {{#unless reservationReadOnly}}
                <div>
                    <button class="btn btn-danger btn-sm" id="cancelReservation" type="button">Cancel</button>
                </div>
                {{/unless}}
                <div class="row justify-content-left">
                    <form id="reservationDateChange" name="reservationDateChange">
                        <div class="card mt-4">
                            <div class="d-flex flex-row justify-content-between">
                                <div>
                                    <h6 class="form-content-h6-style mt-4">Booking information</h6> 
                                    <p> Stay Period </p>
                                </div>
                                <div >
                                    <p class="reservation-status-badge {{status}}">{{status}}</p>
                                </div>
                            </div>
                            <div class="d-none" id="calendar-container">
                                <div class="calendar-wrapper">
                                    <input type="date" readonly id="datePicker">
                                </div>
                            </div>
                            <div class="row section-date-range">
                                <div class="col-md-6">
                                    <label id="checkinLabel" for="inputcheckin" class="form-label no-border">Check-in*</label>
                                    <input readonly value={{bookingData.calendarCheckinDate}} type="date" name="checkin" class="form-control no-border" aria-label="Check in" id="inputcheckin" required>
                                    <div class="invalid-feedback">
                                        Please enter check-in Date
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2 mt-md-0">
                                    <label for="inputcheckout" class="form-label no-border">Check-out*</label>
                                    <input readonly value={{bookingData.calendarCheckoutDate}} type="date" name="checkout" class="form-control no-border" aria-label="Check out" id="inputcheckout" required>
                                    <div class="invalid-feedback">
                                        Please enter check-out Date
                                    </div>
                                </div>
                            </div>
                            {{#unless reservationReadOnly}}
                                <button type="button" class="button btn-primary next-button mt-4" id="edit_date">CHANGE DATE</button>
                                <button type="button" class="button btn-hocho next-button mt-4 d-none" id="submit_date">SUBMIT</button>
                                <button type="button" class="button btn-danger next-button mt-4 d-none" id="cancel_date">CANCEL CHANGES</button>
                            {{/unless}}
                        </div>
                    </form>

                    <form id="additionalInfoChange" name="additionalInfoChange">
                        <div class="card mt-4 ">
                            {{> formContents/_additionalInfo readOnly="true" specialRequests=bookingData.specialRequests estimatedArrivalTime=bookingData.estimatedArrivalTime}}
                            {{#unless reservationReadOnly}}
                                <button type="button" class="button btn-primary next-button mt-4" id="edit_addinfo">EDIT</button>
                                <button type="button" class="button btn-hocho next-button mt-4 d-none" id="submit_addinfo">SUMBIT</button>
                                <button type="button" class="button btn-danger next-button mt-4 d-none" id="cancel_addinfo">CANCEL CHANGES</button>
                            {{/unless}}
                        </div>
                    </form>

                    <form id="guestInfoChange" name="guestInfoChange">
                        <div class="card mt-4">
                            {{> formContents/_guestInfo readOnly="true" headerText="Guest Information" guestInfo=guestInfo}}
                            {{#unless reservationReadOnly}}
                                <button type="button" class="button btn-primary next-button mt-4" id="edit_guestInfo">EDIT</button>
                                <button type="button" class="button btn-hocho next-button mt-4 d-none" id="submit_guestInfo">SUMBIT</button>
                                <button type="button" class="button btn-danger next-button mt-4 d-none" id="cancel_guestInfo">CANCEL CHANGES</button>
                            {{/unless}}
                        </div>
                    </form>

       
                    <div>
                        <div class="card mt-4">
                            {{> formContents/_paymentInfo readOnly="true" headerText="Payment Information" guestInfo=paymentInfo}}
                        </div>
                    </div>

                    {{#if userType}}
                        {{#notEqual userType "Guest"}}
                        <button class="btn btn-primary mt-4">Add Promotion</button>
                        {{!-- <div>
                            <div class="card mt-4">
                                {{> formContents/_paymentInfo readOnly="true" headerText="Add Promotion"}}
                            </div>
                        </div> --}}
                        {{/notEqual}}
                    {{/if}}
                    
                </div>
                {{/if}}
                {{#unless bookingData}}
                <div>
                    <div class="subheader-container">
                        <h2>404: booking data not found</h2>
                    </div>
                </div>
                {{/unless}}  
            </div>
        </div>
        {{#if bookingData}}
        {{> _paymentSidebar disable=disablePaymentSidebar readOnly="true" bookingData=bookingData}}
        {{/if}}  
    </div>
</div>
              